__pycache__/
build/
.cache/
_build
.secure_files
*.tar.gz
*.pem
*.qcow2
*.img
ostree-repo
automotive-image-builder
images/files/dummy_pi
*.cmake
**/CMakeFiles/**
CMakeCache.txt
Makefile
engine-service
radio-client
radio-service
